<!DOCTYPE html>
<html>
  <head>
    <title> Prayerful | Pray Together</title>
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
<body>
  <div class="ui top fixed inverted menu">
    <div class="ui container">
      <a class="header item text-center" href="/">
        <i class="code icon"></i>
        PRAYERFUL
      </a>
    </div>
  </div>
  <div class="ui top fixed inverted three item menu pointing teal">
    <a class="active item header">National</a>
    <a class="item header">Local</a>
    <a class="item header">Prayer Box</a>
  </div>

  <div class="ui main grid container">
