<% include partials/header %>

<div class="ui raised link card">
  <div class="content">
    <div class="header">Please Bless Our Military</div>
    <div class="description">
      <p>The brave men and women who are sworn to protect us, guide them and get them home safe.</p>
    </div>
  </div>
  <div class="extra content">
    <div class="meta">
      <span class="left floated">
         <span class="card__user-text">-Johnny</span>
         <span class="card__location-text">(Baltimore, MD)</span>
      </span>
      <a href="#">
        <img src="/assets/icons/prayinghandsACTIVE.png" alt="" class="ui image prayerHands prayerHands--active right floated">
         
        <span class="right floated ">
          <span class="numPraying">1,075 praying</span>
          <!-- <i class="star icon"></i> -->
        </span> 
      </a>
    </div>
    
  </div>
</div>

<div class="ui card">
  <div class="content">
    <div class="header">Praying for Hurricane Harvey</div>
    <div class="description">
      <p>Bless everyone who was displaced during this storm. May they find comfort and peace after this</p>
    </div>
  </div>
  <div class="extra content">
    <div class="meta">
      <span class="left floated">
         <span class="card__user-text">-Brad</span>
         <span class="card__location-text">(Parkville, MD)</span>
      </span>
      <a href="#">
        <img src="/assets/icons/prayinghands.png" alt="" class="ui image prayerHands right floated">
       
        <span class="right floated ">
          <span class="numPraying">1,075 praying</span>
          <!-- <i class="star icon"></i> -->
        </span> 
      </a>
    </div>
    
  </div>
</div>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Modal Title
  </div>
  <div class="image content">
    <div class="image">
      An image can appear on left or an icon
    </div>
    <div class="description">
      A description can appear on the right
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>

<i class="ui bound bottom sticky add circle icon center "></i>



<% include partials/footer %>